/* Wonder if I'm going to need a new place soon lol. Practice for TOP that I will probably keep private. March 25, 2022*/
:root {
	--formColour: rgb(0, 102, 34);
}

* {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: poppins;
}

body {
	display: flex;
}

.imageContainer, .contentContainer {
	background: green;
	height: 100vh;
	border: 1px solid black;
}

/* Left Side Image Container */ 
.imageContainer {
	width: 40vw;
	background-image: url(images/forest.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
	display: flex;
	position: relative;
	top: 20vh;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.emberLogo {
	height: 15vh;
}

/* Right Side Content/Form Container */
.contentContainer {
	display: flex;
	flex-direction: column;
	width: 60vw;
	padding-left: 3vw;
	background-color: #000000;
}

form {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
	gap: 20px;
	text-transform: uppercase;
	background-color: rgb(6, 6, 6);
}

.input {
	display: flex;
	font-size: 0.7rem;
	gap: 45px;
}

.test {
	display: flex;
	flex-flow: column wrap;
	width: 40%;
}

input {
	border-radius: 3px;
}

input:focus {
	outline: none;
	border: 2px solid var(--formColour);
}

button {
	color: var(--formColour);
	font-weight: 700;
	font-size: 1.2em;
	border: 2px solid var(--formColour);
	border-radius: 5px;
	padding: 10px 40px;
}

button:hover {
	background-color: var(--formColour);
	color: white;
}
